.rti--container {
    --rti-bg: none !important;
    --rti-border: #fff !important;
    --rti-main: #3745a5 !important;
    --rti-radius: .375rem !important;
    --rti-s: .5rem !important;
    --rti-tag: #254275 !important;
    --rti-tag-remove: #7285a8 !important;
    --rti-tag-padding: 0.35rem !important;
    border: none !important;
    color: #3745a5;
    font-family: "greycliff-extrabold", sans-serif;
    font-size: 13px;
    padding: 0 !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.rti--tag {
}

.rti-tags {
    background: #254275 !important;
    color: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.rti--input {
    border: 1px dotted #fdb059 !important;
    border-radius: 5px;
    /*margin-top: 8px !important;*/
    padding: 0.35rem;
    font-size: 15px !important;
    max-width: 84px;
}

.rti--input:focus {
    max-width: none;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.rti--input:hover {
    cursor: pointer;
}

.rti--tag button {
    color: #72b6fd;
}

.rti--container:focus-within {
    box-shadow: none !important;
}